a {
    font-family: Verdana;
    color: crimson;
    text-decoration: none;
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    background-color: crimson;
    color: beige;
}

div#bolum_basligi {
    border: solid 2px crimson;
}

div#bolum_basligi > div {
    border: solid 1px darkblue;
}

.yesil {
    color: forestgreen;
}